@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');



/* Mark Killion  WEBD-225-40: Web Page Development II - Spring 2025 (2025S7A) */

/*GLOBAL*/
body {
    padding-top: 5rem;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}


main {
    padding: 20px;
}
main.container-fluid {
    width: 50%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 120px;
}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler{
margin-right: 10px;
}

.home_2col {
    margin-bottom: 20px;
}

img.dibley {
    max-width: 100%
}


.wrapper {
	margin-top: 5%;
	display: grid;
	grid-row-gap:    5%;
	grid-column-gap: 2%;
}

.wrapper div{
	border: 1px solid;
	padding: 2%;
}

.box1 {
	grid-row-start: 1;
	grid-row-end:   11;	
	grid-column-start: 1;
	grid-column-end:   4;
	background-color: DarkGreen;  
	font-size: bold;
}


.box2 {
    grid-row-start: 12;
	grid-row-end:   20;
	grid-column-start: 1;
	grid-column-end:   2;
	background-color: DarkOliveGreen;  
	font-size: bold;
}



.box3 {
    grid-row-start: 12;
	grid-row-end:   15;
	grid-column-start: 2;
	grid-column-end:   4;
	background-color: LightGreen; 
	font-size: bold;
}



.box4 {
    grid-row-start: 15;
	grid-row-end:   20;
	grid-column-start: 2;
	grid-column-end:   3;
	background-color: LightYellow; 
}


.box5 {
    grid-row-start: 15;
	grid-row-end:   20;
	grid-column-start: 3;
	grid-column-end:   4;
	background-color: SandyBrown; 
}




.box6 {
    grid-row-start: 20;
	grid-row-end:   22;
	grid-column-start: 1;
	grid-column-end:   4;
	background-color: MediumAquaMarine;  
}


